{% extends 'base/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% from '_macro.html' import render_field %}

    <div class="row">
        <div class="col-md-3 float-left">
            {% for widget in widgets %}
                <div class="card" >
                  <div class="card-body">
                   <h5 class="card-title">{{ widget }}</h5>
                   <button type="button" class="btn btn-info" data-toggle="popover" title="Code" data-placement="left" data-content="{{ widgets[widget] }}">Preview</button>
                   <button type="button" class="btn btn-primary small slec" id="selectable" data-content="{{ widgets[widget] }}" data-doc="{{ html_doc }}">Select</button>
                   <button type="button" class="btn btn-danger small" onclick="delete_btn(this)">Delete</button>
                  </div>
                </div>
            {% endfor %}
        </div>

        <!-- Code -->
        <form class="w-75">
            <div class="form-group row">
                <div class="col-md-9 float-left">
                    <div>
                        <label for="title">Nombre de la pagina</label>
                        {{ render_field(form.title, class="form-control", id="title") }}
                    </div>
                    <hr>
                    <div class="p-3" style="background-color: #eee;">
                        <div id="content-area">

                        </div>
                        <div hidden>
                            {{ render_field(form.code, class="form-control", id='code-area') }}
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info"> Preview </button>
                    <button type="submit" formmethod="post" class="btn btn-success" id="save"> Save </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $('.slec').click(function() {
            {#var $doc = $.parseHTML($(this).data('doc'));#}
            let code = document.getElementById('code-area');
            var str = $(this).data('content');
            var $content = $('#content-area');
            $content.append($.parseHTML(str));
            // Append the parsed HTML
            code.value = $content.html();
        });

        function delete_btn() {

        }
    </script>
{% endblock %}