{% extends 'base/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 float-left">
            {% for widget in widgets %}
                <div class="card" >
                  <div class="card-body">
                   <h5 class="card-title">{{ widget }}</h5>
                   <button type="button" class="btn btn-info" data-toggle="popover" title="Code" data-placement="left" data-content="{{ widgets[widget] }}">Preview</button>
                   <button type="button" class="btn btn-primary small slec" id="selectable" data-content="{{ widgets[widget] }}" data-doc="{{ html_doc }}">Select</button>
                   <button type="button" class="btn btn-danger small" onclick="delete_btn(this)">Delete</button>
                  </div>
                </div>
            {% endfor %}
        </div>

        <!-- Code -->
        <div class="col-md-9 float-left">
            <div class="p-3" style="background-color: #eee;">
                <div id="content-area">

                </div>
            </div>
            <br>
            <button type="button" class="btn btn-info"> Preview </button>
            <button type="submit" formmethod="post" class="btn btn-success" id="save"> Save </button>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $('.slec').click(function() {
              {#var $doc = $.parseHTML($(this).data('doc'));#}
              var $content = $("#content-area"),
                  str = $(this).data('content'),
                  html = $.parseHTML( str );

            // Append the parsed HTML
            $content.append( html );
        });

        $('#save').click(function () {

        });


        function delete_btn() {

        }
    </script>
{% endblock %}